 <md-toolbar>
      <h2 class="md-toolbar-tools">
        <span>Pages</span>
      </h2>
</md-toolbar>
<button ng-click="logout_onClick()"> Logout </button>

<div layout="row" layout-wrap>
  	<div flex="33"> 
  		<div ng-controller="panelGroupCtrl">
	  		<md-card ng-repeat="(key, pageGroup) in pageGroups">
	  			<md-card-content>
					<h3 ng-click="showList_onClick()">{{ pageGroup.attributes.name }}</h3>
					<div ng-repeat="(key, page) in pageGroup.pages" >
						<div ng-click="showPage_onClick( page )"> {{ page.attributes.pageFB.name }} </div>
					</div>
				</md-card-content>
			</md-card>
		</div>
  	</div>
  	<div flex="55">
    	<div ng-controller="panelPageCtrl">
    		<div ng-repeat="feed in feeds">
	    		<md-card>
					<md-card-content>
						<h4> {{ feed.from.name }}</h4>
						<p> {{ feed.updated_time }} </p>

						<p> {{ feed.message }} </p>
						<hr>
						<h3> comment </h3>
						<div ng-repeat="comment in feed.comments.data">
							<h5> {{ comment.from.name }} </h5>
							<p> {{ comment.message }} </p>
						</div>
						<hr>
					</md-card-content>
	    		</md-card>
    		</div>
    	</div>
  	</div>
</div>

