body {
  background: #333; }

.userbox {
  min-height: 60px; }

.commentbox {
  min-height: 60px;
  padding: 5px; }

.userimage {
  width: 50px;
  height: 50px; }

.userbox-image {
  margin-right: 10px;
  float: left; }

.userbox-name {
  color: #45619d;
  font-weight: bold;
  line-height: 25px; }

.commentbox {
  border: 1px solid #E9E9E9; }

.pointer {
  cursor: pointer; }

.toolbar-image {
  width: 40px;
  height: 40px; }

.toolbar-name {
  line-height: 40px; }
